<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Book</title>
</head>
<body>
<form method="post" th:action="@{/editBook}">
    <input type="text" name="id" th:value="${book.id}"hidden/>
    <input type="text" name="name" th:value="${book.name}">
    <br>
    <select name="category" >
        <option th:each="category : ${categories}" th:value="${category}" th:text="${category}" th:selected="${book.category} == ${category}"></option>
    </select>
    <br>
    <select name="author">
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name} + ' ' + ${author.surname}" th:selected="${book.author.id} == ${author.id}"></option>
    </select>
    <br>
    <input type="number" name="availableCopies" th:value="${book.availableCopies}">
    <br>
    <input type="submit" value="Edit Book">
</form>
</body>
</html>